body,
html {
  height: 100%;
  overflow-x: hidden;
  text-align: center;
  font-family: _font(family);
  font-weight: _font(light);
  color: _palette(color3);
  background: _palette(color1) url(/images/bg-header.jpg) no-repeat 0 0px;
}

a {
  border-bottom: dotted 1px;
  color: _palette(color4);
  transition: color 0.2s ease-in-out;
}

a:hover {
  border-bottom-color: transparent;
  color: _palette(color2) !important;
  text-decoration: none;
}

a:focus {
  color: initial;
}

#footer {
  background-color: _palette(color5);

  .list-inline {
    margin: 10px 0 10px 0;
  }
}

.grow {
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

#header {
  position: relative;
  color: _palette(color5);

  a {
    color: _palette(color3);
  }

  .title-header {
    font-weight: _font(light);
    color: _palette(color4);
    font-size: 1.375em;
    text-transform: uppercase;
  }
}

h1, h2, h3, h4 {
  margin-bottom: 1em;
  font-family: 'Merriweather';
  color: _palette(color3);
  font-weight: _font(light);
}

h1 {
  color: _palette(color2);

  &.default {
    color: inherit;
  }
}

.inner {
  padding: 3em;
}

.introduction {
  background-color: _palette(color1);
}

.icon {
  position: relative;
  text-decoration: none;

  &:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

.profile {
  .avatar {
    width: 208px;
    height: 208px;
    margin: 0 auto;
    position: relative;
    display: block;
    font-size: 4em;
    border: 4px solid _palette(default);
    background-color: _palette(color1);
    box-shadow: 0 0 85px -11px _palette(color3);

    &:before {
      width: 100%;
      content: "\f007";
      position: absolute;
      left: 0;
      top: 0;
      padding: 32% 0 0 0; 
    }

    > img {
      width: 200px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

 .icons {
    a {
      padding: 8px 8px 28px;
      position: relative;
      display: block;
      border-bottom: none;

      &:after, &:before {
        content: "";
        width: 0;
        height: 3px;
        position: absolute;
        bottom: 16px;
        right: 0;
        left: auto;
        z-index: 2;
      }
      
      &:after {
        transition: all .25s cubic-bezier(.694, .048, .335, 1);
        background-color: _palette(color2);
      }

      &:before {
        transition: all .25s cubic-bezier(.694, .048, .335, 1) .15s;
        background-color: _palette(color3);
      }

      &:hover:after, &:hover:before {
        width: 100%;
        left: 0;
      }
    }

    .icon {
      font-size: 1.600em;
    }

    > li {
      margin-right: 2px;
      margin-left: 2px;
      padding: 0;
    }
  }
}

p {
  font-size: 1.125em;
}

.phrase {
  font-weight: _font(regular);
  color: _palette(color4);
  background-color: rgba(255, 255, 255, .2);

  p {
    font-size: 1.286em;
  }
}

.skill {
  background-color: _palette(color1);

  .icon {
    margin: 20px 0;
    padding: 35px;
    font-size: 3em;
    color: _palette(color3);
    border: dotted 4px _palette(color2);
    border-radius: 50%;
    background-color: transparent;
  }

  .lists {
    font-size: 1.286em;
  }
}

@media screen and (max-width: 992px) {
  #footer {
    .text-left,
    .text-right {
      text-align: center;
    }
  }
}