body,
html {
  height: 100%;
  overflow-x: hidden;
  text-align: center;
  font-family: _font(family);
  font-weight: _font(light);
  color: _palette(color5);
  background-color: _palette(default);
}

a {
  border-bottom: dotted 1px;
  color: _palette(color5);
  transition: color 0.2s ease-in-out;
}

a:hover {
  border-bottom-color: transparent;
  color: _palette(color2) !important;
  text-decoration: none;
}

a:focus {
  color: initial;
}

#footer {
  border-bottom: solid _palette(color3) 4px;
}

.grow {
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

#header {
  position: relative;
  color: _palette(color5);
  background: _palette(color2) url(/images/bg-header.jpg) no-repeat 0 -150px;

  a {
    color: _palette(color3);
  }

  .avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    display: block;
    border: 0;
    font-size: 4em;
    color: _palette(color4);
    background-color: _palette(color3);
    box-shadow: 0 0 55px -11px _palette(color3);

    &:before {
      width: 100%;
      content: "\f007";
      position: absolute;
      left: 0;
      top: 0;
      padding: 32% 0 0 0; 
    }

    > img {
      width: 200px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

 .icons {
    a {
      padding: 8px 8px 28px;
      position: relative;
      display: block;
      border-bottom: none;

      &:after, &:before {
        content: "";
        width: 0;
        height: 3px;
        position: absolute;
        bottom: 16px;
        right: 0;
        left: auto;
        z-index: 2;
      }
      
      &:after {
        transition: all .25s cubic-bezier(.694, .048, .335, 1);
        background-color: _palette(color1);
      }

      &:before {
        transition: all .25s cubic-bezier(.694, .048, .335, 1) .15s;
        background-color: _palette(color3);
      }

      &:hover:after, &:hover:before {
        width: 100%;
        left: 0;
      }
    }

    .icon {
      font-size: 1.600em;
    }

    > li {
      margin-right: 2px;
      margin-left: 2px;
      padding: 0;
    }
  }

  .title-header {
    font-weight: _font(regular);
    color: _palette(color4);
    font-size: 1.571em;
    text-transform: uppercase;
  }
}

h1, h2, h3, h4 {
  margin-bottom: 1em;
}

h2 i {
  font-weight: _font(bold);
}

.inner {
  padding: 3em;
}

.icon {
  position: relative;
  text-decoration: none;

  &:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

p {
  font-size: 1.143em;
}

@media screen and (max-width: 992px) {}