$font: (
  size: 62.5%,
  family: ('Ubuntu', sans-serif),
  light: 300,
  regular: 400,
  bold: 700,
  letter-spacing: -0.05em
);

$palette: (
  default: rgba(255, 255, 255, 1),
  triangle: #FC63B3,
  circle: #FFF48D,
  square: #94FFF5,
  cross: #D68FFF,
  color1: rgba(99, 94, 100, 1),
  color2: rgba(123, 124, 128, 1),
  color3: rgba(204, 212, 215, 1),
  color4: rgba(164, 167, 172, 1),
  color5: rgba(38, 32, 32, 1)
);