<figure>
  <a href="/" class="icon avatar img-circle" title="Voltar ao início">
    <img ng-src="{{urlPhotoProfile}}" class="img-circle">
  </a>
</figure>
<h1 class="title-header">Hi, I'm Felippe Medeiros</h1>
<ul class="list-inline icons">
  <li>
    <a href="//github.com/felippem/personal-site" target="_blank" title="GitHub">
      <i class="icon fa fa-github" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="//br.linkedin.com/in/felippemedeiros" target="_blank" title="LinkedIn">
      <i class="icon fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="//twitter.com/felippem" target="_blank" title="Twitter">
      <i class="icon fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="#/entre-em-contato" title="Fale comigo">
      <i class="icon fa fa-coffee" aria-hidden="true"></i>
    </a>
  </li>
</ul>